
body {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.main-container {
    background-color: #F08080;
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    animation-name: mai123;
    animation-duration: 8s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
}
.main-tittle {
    font-size: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
}

ul{ 
    display: flex;
    border-radius: 6px;
    background-color: #8881e2;
    
}
li {
    list-style-type: none;
    
    
}
li a {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    margin: auto 8px;
}
.container {
    background-image: url(../imagunes/nuta.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    height: 500px;
}
.text {
    text-align: center;
    font-size: 32px;
}
img {
    width: 200px;
    height: 200px;
}
.dos {
    background-color: #261f8e;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.dos p {
    font-size: 32px;
   color: #fff;
}
.foto {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 600px;
    justify-items: center;
}
.isa {
    font-size: 32px;
    color: #fff;
    padding: 6px;
}
 .foto div{
     border-radius: 3px;
     background-color: rgb(88, 75, 73);
     width: 250px;
     height: 300px;
     margin: 6px;
     text-align: center;
     justify-content: center;
 }
 footer{
     background-color: thistle;
     color: rgb(36, 28, 28);
     font-size: 42px;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     text-align: center;
 }
 @keyframes mai123 {
     0%{background-color: #261f8e;}
     25%{background-color: aqua;}
     50%{background-color:aquamarine ;}
     75%{background-color: #2f24cc;}
     100%{background-color: #8881e2;}
 }