
body {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.main-container {
    background-color: #1b2394;
    display: flex;
    justify-content: space-around;
    margin-top: auto;
    animation-name: mai123;
    animation-duration: 8s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
}
.main-tittle {
    font-size: 60px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
}

ul{ 
    display: flex;
    align-items: center;
    border-radius: 6px;
    background-color: #77df57;
    
}
li {
    list-style-type: none;
    
    
}
li a {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    margin: auto 8px;
}
.container {
    background-image: url(../web/imaguenes/library-gb1d97abdb_1280.jpg);
  background-size: cover;
  width: auto;
  height: 500px;
}
.ima {
}
.text {
    text-align: center;
    font-size: 32px;
    color: #fff;
}

.intro {
    background-color: #261f8e;
    display: flex;
    justify-content: center;
    align-items: center;
}
i { 
    position: relative;
    left: 12px;
    width: 40px;
    height: auto;
    color: floralwhite;
    }

.dos p {
    font-size: 32px;
   color: #fff;
}
.enlace {
    color: #fff;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.foto {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 600px;
    justify-items: center;
}
.isa {
    font-size: 32px;
    color: #fff;
    padding: 6px;
}
 .foto div{
     border-radius: 3px;
     background-color: rgb(88, 75, 73);
     width: 400px;
     height: auto;
     margin: 6px;
     text-align: center;
     justify-content: center;
 }
 iframe {
    width: max-content;
 }
 footer{
     background-color: thistle;
     color: rgb(7, 53, 90);
     font-size: 20px;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     text-align: center;
     position: relative;
     top: 170px;
 }
 @keyframes mai123 {
    
}