
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.img {
    background-image: url(/imaguenes/library-gb1d97abdb_1280.jpg);
  background-size: cover;
  width: auto;
  height: 500px;
}
